.header {
    background-color: rgba(0, 0, 0, 1);
    padding: 15px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__logo {
    max-width: 370px;
    height: 36.01px;
    gap: 0px;
    color: rgba(255, 255, 255, 1);
}

.container {
    background-color: rgba(0, 0, 0, 1);
    width: 100%;
    max-width: 1540px;
    min-width: 1400px;
    height: 82px;
    gap: 0px;
    padding: 20px;
    margin: 0 auto;
}

@media (max-width: 1024px) {
    .container {
        min-width: auto;
        padding: 10px;
    }

    .header__logo img {
        max-width: 100%;
        height: auto;
    }
}
