body {
    margin: 0;
    padding: 0;
    background-color: rgba(255, 255, 255, 1);
}

.product-container {
    padding: 20px;
    margin: 0 auto;
    width: 100%;
    max-width: 1540px;
    font-family: Inter;
    background: rgba(255, 255, 255, 1);
}

.product-tabs {
    display: flex;
    border-bottom: 2px solid rgba(95, 95, 95, 1);
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 700;
    line-height: 29.05px;
    text-align: right;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    height: 90px;
}

.tab {
    text-decoration: none;
    color: rgba(95, 95, 95, 1);
    padding-bottom: 5px;
    transition: all 0.3s;
    margin-left: 150px;
    margin-top: 35px;
}

.tab.active {
    color: rgba(255, 0, 0, 1);
    border: none;
    margin-left: 130px;
    margin-top: 35px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
}

.product-card {
    overflow: hidden;
    text-align: center;
    border-radius: 4px;
    width: 100%;
    max-width: 290px;
    height: 320px;
    gap: 0px;
    margin-left: 30px;
    margin-bottom: 30px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transition: transform 0.2s ease;
}

.product-image {
    position: relative;
    border-radius: 4px;
    padding-top: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-image:hover {
    transform: translateY(-5px);
}

.product-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 290px;
    height: 280px;
    object-fit: cover;
    background: rgba(217, 217, 217, 1);
    border-radius: 4px;
}

.sold-badge {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(255, 0, 0, 1);
    color: rgba(255, 255, 255, 1);
    padding: 5px 10px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 4px;
}

.product-name {
    color: rgba(0, 0, 0, 1);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 25px;
    font-weight: 400;
    line-height: 30.26px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    padding-left: 5px;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 1540px) {
    .product-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 850px) {
    .product-container {
        max-width: 95%;
    }

    .product-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .product-card {
        max-width: 100%;
    }

    .product-image img {
        width: 100%;
        max-width: none;
    }
}

