body {
    font-family: Inter;
    background-color: rgba(255, 255, 255, 1);
    margin: 0;
    padding: 0;
    width: 100%;
}

.global-error {
    color: rgba(255, 85, 85, 1);
    font-size: 20px;
    margin-bottom: 15px;
    text-align: left;
}

.login-container {
    max-width: 680px;
    margin: 30px auto;
    padding: 5px;
    background-color: rgba(255, 255, 255, 1);
    text-align: center;
}

.login-container h2 {
    margin-bottom: 40px;
    margin-top: 40px;
    color: rgba(0, 0, 0, 1);
    font-size: 36px;
    font-weight: 700;
    line-height: 43.57px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.form-group {
    margin-bottom: 35px;
    text-align: left;
}

.form-group label {
    color: rgba(0, 0, 0, 1);
    display: block;
    margin-bottom: 8px;
    font-size: 24px;
    font-weight: 700;
    line-height: 29.05px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.input-text {
    width: 680px;
    height: 56px;
    gap: 0px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid rgba(95, 95, 95, 1);
    border-radius: 4px;
    box-sizing: border-box;
}

.error-message {
    color: rgba(255, 85, 85, 1);
    font-size: 20px;
    margin-top: 5px;
}

.btn-submit {
    display: block;
    width: 680px;
    height: 65.25px;
    padding: 10px;
    gap: 0px;
    margin-top: 60px;
    margin-bottom: 30px;
    background-color: rgba(255, 85, 85, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 26px;
    font-weight: 700;
    line-height: 31.47px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-submit:hover {
    background-color: rgba(255, 85, 85, 1);
}

.login-container p a {
    color: rgba(0, 115, 204, 1);
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    line-height: 24.2px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.login-container p a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 1540px) {
    .login-container {
        margin: 50px auto;
    }

    .btn-submit {
        font-size: 22px;
        height: 60px;
    }
}

@media screen and (max-width: 850px) {
    .login-container h2 {
        font-size: 30px;
    }

    .form-group label {
        font-size: 20px;
    }

    .input-text,
    .btn-submit {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .login-container {
        padding: 15px;
    }

    .btn-submit {
        font-size: 18px;
        height: 55px;
    }

    .form-group label {
        font-size: 18px;
    }

    .login-container h2 {
        font-size: 26px;
    }
}
