body {
    font-family: Inter;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

.purchase-container {
    max-width: 1512px;
    margin: 30px auto;
    padding: 20px;
    display: flex;
    gap: 30px;
}

.purchase-details {
    flex: 2;
}

.item-info {
    display: flex;
    gap: 20px;
    padding-bottom: 50px;
    border-bottom: 1px solid rgba(0, 0, 0, 1);
}

.item-image {
    width: 177.53px;
    height: 177.53px;
    object-fit: cover;
    margin-left: 80px;
    gap: 0px;
}

.item-details {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-top: 0;
}

.item-name {
    font-size: 30px;
    font-weight: 700;
    line-height: 36.31px;
    margin-bottom: 5px;
}

.item-price {
    font-weight: 400;
    font-family: Inter;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(0, 0, 0, 1);
}

.item-price-symbol {
    font-size: 27px;
    font-weight: 400;
    line-height: 32.68px;
}

.item-price-value {
    font-size: 32px;
    font-weight: 400;
    line-height: 38.73px;
}

.payment-method {
    margin-top: 40px;
    color: rgba(0, 0, 0, 1);
    border-bottom: 1px solid rgba(0, 0, 0, 1);
}

.payment-method h2 {
    font-size: 20px;
    font-weight: 700;
    line-height: 24.2px;
    margin-bottom: 30px;
    margin-left: 20px;
}

.payment-select {
    width: 265px;
    height: 31px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    line-height: 19.36px;
    text-align: left;
    border: 1px solid rgba(95, 95, 95, 1);
    color: rgba(95, 95, 95, 1);
    margin-left: 80px;
    margin-bottom: 50px;
}

.shipping-address {
    display: block;
    margin-top: 30px;
    color: rgba(0, 0, 0, 1);
}

.shipping-address h2 {
    font-size: 20px;
    font-weight: 700;
    line-height: 24.2px;
    text-align: left;
    margin-left: 20px;
    margin-bottom: 10px;
}

.shipping-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.shipping-info {
    display: flex;
    flex-direction: column;
}

.shipping-info p {
    margin-left: 60px;
    font-size: 20px;
    font-weight: 600;
    line-height: 24.2px;
    text-align: left;
    margin-bottom: 5px;
}

.change-address-link {
    white-space: nowrap;
    color: rgba(0, 115, 204, 1);
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    line-height: 24.2px;
    text-align: left;
    margin-right: 60px;
    margin-bottom: 220px;
}

.change-address-link:hover {
    text-decoration: underline;
}

.summary {
    flex: 1;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
}

.summary-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.purchase-summary-btn {
    width: 100%;
    background-color: #f00;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.purchase-summary-btn:hover {
    background-color: #d00;
}
